@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

/* https://fonts.google.com/icons */
@font-face {
  font-family: MaterialSymbolsOutlined;
  src: url(../fonts/MaterialSymbols/MaterialSymbolsOutlined-VariableFont_FILL,GRAD,opsz,wght.ttf);
}

.material-symbols-outlined {
  font-family: MaterialSymbolsOutlined;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  transform: scale(115%);
}

:root {
  --font-family: Rubik, system-ui, sans-serif;
  --font-size: 18px;

  font-family: var(--font-family);
  font-size: var(--font-size);

  --accent-color: #6251ff;

  --accent-color-l-10: color-mix(in oklab, var(--accent-color), white 10%);
  --accent-color-l-15: color-mix(in oklab, var(--accent-color), white 15%);
  --accent-color-l-20: color-mix(in oklab, var(--accent-color), white 20%);
  --accent-color-l-30: color-mix(in oklab, var(--accent-color), white 30%);
  --accent-color-l-40: color-mix(in oklab, var(--accent-color), white 40%);
  --accent-color-l-50: color-mix(in oklab, var(--accent-color), white 50%);
  --accent-color-l-60: color-mix(in oklab, var(--accent-color), white 60%);
  --accent-color-l-70: color-mix(in oklab, var(--accent-color), white 70%);
  --accent-color-l-80: color-mix(in oklab, var(--accent-color), white 80%);
  --accent-color-l-90: color-mix(in oklab, var(--accent-color), white 90%);

  --accent-color-d-10: color-mix(in oklab, var(--accent-color), black 10%);
  --accent-color-d-15: color-mix(in oklab, var(--accent-color), black 15%);
  --accent-color-d-20: color-mix(in oklab, var(--accent-color), black 20%);
  --accent-color-d-30: color-mix(in oklab, var(--accent-color), black 30%);
  --accent-color-d-40: color-mix(in oklab, var(--accent-color), black 40%);
  --accent-color-d-50: color-mix(in oklab, var(--accent-color), black 50%);
  --accent-color-d-60: color-mix(in oklab, var(--accent-color), black 60%);
  --accent-color-d-70: color-mix(in oklab, var(--accent-color), black 70%);
  --accent-color-d-80: color-mix(in oklab, var(--accent-color), black 80%);
  --accent-color-d-90: color-mix(in oklab, var(--accent-color), black 90%);

  --accent-color-t-10: rgb(from var(--accent-color) r g b / 10%);
  --accent-color-t-15: rgb(from var(--accent-color) r g b / 15%);
  --accent-color-t-20: rgb(from var(--accent-color) r g b / 20%);
  --accent-color-t-30: rgb(from var(--accent-color) r g b / 30%);
  --accent-color-t-40: rgb(from var(--accent-color) r g b / 40%);
  --accent-color-t-50: rgb(from var(--accent-color) r g b / 50%);
  --accent-color-t-60: rgb(from var(--accent-color) r g b / 60%);
  --accent-color-t-70: rgb(from var(--accent-color) r g b / 70%);
  --accent-color-t-80: rgb(from var(--accent-color) r g b / 80%);
  --accent-color-t-90: rgb(from var(--accent-color) r g b / 90%);

  --gray-0: black;
  --gray-10: hsl(0, 0%, 10%);
  --gray-15: hsl(0, 0%, 15%);
  --gray-20: hsl(0, 0%, 20%);
  --gray-30: hsl(0, 0%, 30%);
  --gray-40: hsl(0, 0%, 40%);
  --gray-50: hsl(0, 0%, 50%);
  --gray-60: hsl(0, 0%, 60%);
  --gray-70: hsl(0, 0%, 70%);
  --gray-80: hsl(0, 0%, 80%);
  --gray-90: hsl(0, 0%, 90%);
  --gray-100: white;

  --translucent-dark: rgba(38, 38, 38, 0.3);
  --translucent-dark-dim: rgba(38, 38, 38, 0.15);
  --translucent-light: rgba(204, 204, 204, 0.3);
  --translucent-light-dim: rgba(204, 204, 204, 0.15);

  --bg-color: rgb(0, 0, 0);
  --text-color: #f2f2f2;

  --transition-time: 0.15s;

  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: var(--accent-color-t-40);
}

::-moz-selection {
  background-color: var(--accent-color-t-40);
}

::-ms-selection {
  background-color: var(--accent-color-t-40);
}

::-webkit-selection {
  background-color: var(--accent-color-t-40);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;

  text-align: start;

  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.15em;
  word-spacing: 0.05em;

  background-color: var(--bg-color);
  color: var(--text-color);
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.wrapper {
  display: block;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
  overflow-y: scroll;

  scrollbar-color: var(--accent-color) var(--accent-color-d-80);
  scrollbar-width: 4px;
}

.container {
  width: 100%;
  padding: 0;
  padding: 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  overflow-x: hidden;
  overflow-y: hidden;
}

/* user should manually add height */
.spacing {
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 0;
  height: 0;

  background-color: #00000000;
  color: #00000000;
}

.spacing::selection {
  background-color: #00000000;
}

.spacing::-moz-selection {
  background-color: #00000000;
}

.spacing::-ms-selection {
  background-color: #00000000;
}

.spacing::-webkit-selection {
  background-color: #00000000;
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;

  image-rendering: smooth;
}

#error-message {
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-content: center;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color-l-10);
  text-decoration: underline;
}

.nodecor {
  text-decoration: none !important;
  text-decoration-line: none;
  text-decoration-color: #00000000;
}

a.nodecor {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.15em;
  word-spacing: 0.05em;
}

h1 {
  font-weight: 900;
  font-size: 1.7rem;
}

h2 {
  font-weight: 900;
  font-size: 1.5rem;
}

h3 {
  font-weight: bold;
  font-size: 1.3rem;
}

h4 {
  font-weight: bold;
  font-size: 1.2rem;
}

h5 {
  font-weight: bold;
  font-size: 1.1rem;
}

h6 {
  font-weight: bold;
  font-size: 1.05rem;
}

p {
  font-size: 1rem;
  text-align: justify;
}

strong {
  font-weight: bolder;
}

br {
  display: block;
  width: 100%;
  height: 0;
  margin: 1.1em 0 1.1em 0;
}

.vspace {
  display: block;
  width: 100%;
  height: 0.3rem;
  margin: 0;
}

button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.2rem 0.45em;

  width: 100%;
  padding: 1.2rem 1.9rem;
  cursor: pointer;

  border: none;
  border-radius: 1000rem;
  outline: none;
  outline-style: solid;
  outline-color: transparent;
  outline-width: 0;

  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: var(--font-family);

  background-color: var(--accent-color);
  color: var(--text-color);

  transition: var(--transition-time);
}

button:hover {
  background-color: var(--accent-color-l-10);
}

button:active {
  background-color: var(--accent-color-d-10);
  transform: scale(0.96);
}

button:focus {
  outline-color: var(--accent-color-l-10);
  outline-width: 0.15rem;
  outline-offset: 0.15rem;
}

button.transparent-button {
  background-color: transparent;
  outline-color: var(--translucent-light-dim);
  outline-width: 0.15rem;
  outline-offset: -0.15rem;
}

button.transparent-button:hover {
  background-color: var(--translucent-light-dim);
}

button.transparent-button:active {
  background-color: var(--translucent-light);
  outline-color: transparent;
}

button.transparent-button:focus {
  outline-color: var(--translucent-light);
  outline-width: 0.15rem;
  outline-offset: 0.15rem;
}

.dim {
  opacity: 0.8;
}

.dimmer {
  opacity: 0.6;
}

.small {
  font-size: 0.9em;
}

.bold {
  font-weight: bold;
}

.black {
  font-weight: 900;
}

.center {
  text-align: center;
  align-self: center;
}

.dummy {
  display: none;
  visibility: collapse;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.article {
  align-self: center;
  z-index: 1;

  width: 60rem;
  max-width: 98vw;

  padding: 2.8em 2.2em 3.2em 2.2em;
  box-sizing: border-box;

  border-radius: 1em;
  background-color: var(--gray-10);

  opacity: 0.95;
  transition: var(--transition-time);
}

.article-more-transparent-bg {
  background-color: rgb(from var(--gray-10) r g b / 85%);
  opacity: 0.9;
}

.article>* {
  margin-top: 1em;
  margin-bottom: 1em;
}

.article>*:first-child {
  margin-top: 0;
}

.article>*:last-child {
  margin-bottom: 0;
}

.hide {
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-time);
}

.vanish {
  display: none;
  visibility: collapse;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.untouchable {
  pointer-events: none;
}

.negative-z {
  z-index: -100 !important;
}

#controls {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

#controls.firefox-mobile {
  margin-top: 2.5rem;
  margin-bottom: 6rem;
}

.width-fit {
  width: fit-content;
}

.height-fit {
  height: fit-content;
}

.wh-fit {
  width: fit-content;
  height: fit-content;
}

.control-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.control-label {
  display: inline-block;
  min-width: 22%;
  max-width: 50%;
  margin-inline-end: 1rem;
}

.control {
  flex-basis: 100%;
  flex-shrink: 10000;
  min-width: 3rem;
}

.slider-wrapper {
  position: relative;
  padding: 0;
}

.slider-input {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  transform: translate(0, -50%);
  z-index: 0;
}

.slider-indicator {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  transform: translate(0, -50%);
  z-index: 1;

  font-size: 0rem;
  text-align: center;
  pointer-events: none;

  text-shadow: 0 0 0.8rem var(--gray-10);
  opacity: 0;

  transition: var(--transition-time);
}

.slider-indicator-show {
  font-size: 1rem;
  opacity: 0.8;
}

input[type="range"] {
  height: 1.4rem;
  border-radius: 100rem;
  cursor: grab;
  appearance: none;

  outline-style: solid;
  outline-color: transparent;
  outline-width: 0;
  outline-offset: 0;

  background: var(--gray-15);
  transition: var(--transition-time);
}

input[type="range"]:hover {
  background: var(--gray-20);
}

input[type="range"]:active {
  background: var(--gray-20);
  cursor: grabbing;
}

input[type="range"]:focus {
  outline-color: var(--translucent-light);
  outline-width: 0.15rem;
  outline-offset: 0.15rem;
}

input[type="range"]:disabled {
  /*filter: grayscale(1);*/
  opacity: 0.3;
  cursor: not-allowed;
}

/* gotta admire the sheer amount of consistency in web dev. it's 2025 and */
/* different browsers still require different rules for certain things. */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 1.4rem;
  height: 1.4rem;
  border: none;
  border-radius: 100rem;
  background: var(--accent-color);
  transition: var(--transition-time);

  transform: scale(0.7);
}

input[type="range"]::-moz-range-thumb {
  appearance: none;

  width: 1.4rem;
  height: 1.4rem;
  border: none;
  border-radius: 100rem;
  background: var(--accent-color);
  transition: var(--transition-time);

  transform: scale(0.7);
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--accent-color-l-10);
}

input[type="range"]::-moz-range-thumb:hover {
  background: var(--accent-color-l-10);
}

input[type="range"]:active::-webkit-slider-thumb:active {
  transform: scale(1);
}

input[type="range"]:active::-moz-range-thumb {
  transform: scale(1);
}

.checkbox-wrapper {
  display: flex;
  width: fit-content;
  position: relative;
  padding: 0;

  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 0.2rem 0.4rem;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hide the browser's default checkbox */
.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* custom checkbox */
.checkmark {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  border-radius: 1000rem;
  border: none;

  outline-style: solid;
  outline-color: var(--translucent-light-dim);
  outline-width: 0.15rem;
  outline-offset: -0.15rem;

  transition: var(--transition-time);
}

.checkbox-wrapper:hover input~.checkmark {
  background-color: var(--translucent-light-dim);
  outline-color: transparent;
}

.checkbox-wrapper input:checked~.checkmark {
  background-color: var(--accent-color);
  outline-color: transparent;
}

.checkbox-wrapper input:checked:hover~.checkmark {
  background-color: var(--accent-color-l-10);
  outline-color: transparent;
}

.checkbox-wrapper input:focus~.checkmark {
  outline-color: var(--translucent-light) !important;
  outline-width: 0.15rem !important;
  outline-offset: 0.15rem !important;
}

.checkbox-wrapper input:checked:focus~.checkmark {
  outline-color: var(--accent-color) !important;
  outline-width: 0.15rem !important;
  outline-offset: 0.15rem !important;
}

/* hide checkmark when unchecked */
.checkmark:after {
  content: "";
  display: none;
}

/* show checkmark when checked */
.checkbox-wrapper input:checked~.checkmark:after {
  display: inline-block;
}

/* checkmark */
.checkbox-wrapper .checkmark:after {
  width: 0.25rem;
  height: 0.5rem;
  border: solid white;
  border-width: 0 0.25rem 0.25rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.block-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  row-gap: 0.5em;
}

.text-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  row-gap: 0.2em;
  column-gap: 0.45em;
}

.text-container>span {
  display: inline-block;
  vertical-align: middle;
}

.flexible-horiz-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 0.2rem;
}

.flexible-horiz-container>* {
  flex-basis: 10rem;
  flex-grow: 1;
}

.color-blob {
  display: inline-block;
  width: 1.15em;
  height: 1.15em;
  vertical-align: middle;
  border-radius: 1000rem;

  background-color: black;
  border-color: var(--translucent-light);
  border-width: 0.15rem;
  border-style: solid;
}